In [ ]:
#AREA OF RECTANGLE

In [1]:
h=int(input('enter a no.'))
w=int(input('enter a no.'))
A=h*w
print(A)

enter a no.5
enter a no.2
10

In [2]:
#2 sum, difference , multiplication and quotient

In [4]:
x =int (input('enter a no.'))
y =int (input('enter a no.'))
s=x+y
d=x-y
p=x*y
q=x/y
print(s)
print(d)
print(p)
print(q)

enter a no.4
enter a no.2
6
2
8
2.0

In [5]:
#3 convert temp to fahrenheit and  fahrenheit to temp

In [6]:
from re import T
f=float(input('enter a no.'))
t=(f-32)*5/9
print(t)

enter a no.95
35.0

In [7]:
t=float(input('enter a no.'))
f=(t*9/5)+32
print(f)

enter a no.35
95.0

In [8]:
#4 no. is +ve or -ve

In [11]:
n=int(input('enter a number'))
if x>0:
  print('no. is positive')
else:
  print('no. is negative')

enter a number5
no. is positive

In [12]:
#5 write a python function that determine  leap year

In [14]:
y=int(input('enter the year'))
if y%4==0:
  print('IT IS A LEAP YEAR')
elif y%4!=0:
  print('IT IS NOT  A LEAP YEAR')
elif y%400==0:
  print('IT IS A LEAP YEAR')
elif y%400!=0:
  print('IT IS NOT  A LEAP YEAR')

enter the year2005
IT IS NOT  A LEAP YEAR

In [15]:
#6 grade scale

In [17]:
m=int(input('enter mark'))
if m>90:
  print('A')
elif m>80:
  print('B')
elif m>70:
  print('C')
elif m>50:
  print('D')
else:
  print('F')

enter mark91
A

In [18]:
#7 print 10 to 1

In [21]:
for n in range(10,0,-1):
  print(n)

10
9
8
7
6
5
4
3
2
1

In [22]:
#8 print even no.s from 1 to 20

In [23]:
for n in range(1,21):
  if n%2==0:
    print(n)

2
4
6
8
10
12
14
16
18
20

In [24]:
#9 multiplication table

In [25]:
n=int(input('enter a no.'))
for i in range(1,11):
  print(i,'*',n,'=',i*n)

enter a no.2
1 * 2 = 2
2 * 2 = 4
3 * 2 = 6
4 * 2 = 8
5 * 2 = 10
6 * 2 = 12
7 * 2 = 14
8 * 2 = 16
9 * 2 = 18
10 * 2 = 20